<!-- ================================================

  Community Program

==================================================-->
<div class="Visible">
    <div id="community"></div>
    <div class="community-wrapper">
      <div class="container" style="position:relative;">
        <div class="title-block">
          <h1 class="bold red-text lang-en">Community Program</h1>
          <h1 class="bold red-text lang-ja">コミュニティプログラム</h1>
          <p></p>
          <h3>
            <strong class="lang-en">Join us for our community program!</strong>
            <strong class="lang-ja">コミュニティプログラムに参加してください！</strong>
          </h3>
          <div style="margin-top: 50px;">
            <a href="/community/">
              <div class="DevRelCon-button Visible lang-en">check detail Community Program</div>
              <div class="DevRelCon-button Visible lang-ja">コミュニティプログラムについて</div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center"></div>
      </div>
    </div>
  </div>
  