    <!-- ================================================

      Footer

    ==================================================-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="mb-4">DevRelCon</h4>
            <p></p>
            <p>
              DevRelCon is a global series of events, created by the <a href="https://hoopy.io" target="_blank">the developer content agency Hoopy</a>, to provide a forum for developer relations and developer experience professionals share with other practitioners. Beginning in London in 2015, there are
              now also editions in Latin America, Prague, San Francisco, and China, with Africa and India coming soon.
            </p>
            <p><a href="https://www.developerrelations.com/devrelcon/" target="_blank">Read more about DevRelCon</a></p>

            <a href="#" style="border-bottom:0;">
              <div class="DevRelCon-button mt-3 mb-5 Visible">
                Register now
              </div>
            </a>
            <a href="https://twitter.com/devrelconTokyo"><i class="fab fa-twitter mt-5"></i></a>
            <p class="footer-text"></p>
            <p class="footer-text"><a href="/code-of-conduct">Code of Conduct</a> | <a href="https://developerrelations.com/privacy">Privacy policy</a></p>
            <p class="footer-text mt-1">©2015-2022 Hoopy Limited. Hoopy and DevRelCon are registered trademarks of Hoopy Limited.</p>
          </div>
          <div class="col-md-6">
            <h4 class="mb-4">Contact us</h4>
            <p>Please feel free anything to contact us.</p>
            <form id="contact">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your name</label>
                <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Your name" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Company or organization</label>
                <input type="text" name="company" class="form-control" id="exampleFormControlInput1" placeholder="DevRelCon Yokohama">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea>
              </div>
              <div class="mb-3">
                <div id="result" class="alert"></div>
                <button type="submit" class="btn btn-primary mb-3">Send form</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
