<!-- ================================================

	Header / Logo

==================================================-->
<div class="header header-gradient">
	<div class="container">
		<div class="row" style="justify-content: space-between;">
			<div class="col-md-12 col-lg-5">
				<div class="logo-badge">
					<img src="/assets/images/brand/DevRelCon-Yokohama-2023.png">
				</div>
			</div>
			<div class="col-md-12 col-lg-6" style="align-self: center;">
				<div class="Visible date-wrapper">
					<!-- ================================================
						About
					==================================================-->
					<div class="row">
						<div class="col-md-6 date-left">
							<div class="month">10th March</div>
						</div>
						<div class="col-md-6 date-right">
							<div class="month">11th March</div>
						</div>
					</div>
					<div class="row">
						<h1></h1>
						<p>DevRelCon Yokohama 2023:</p>
						<p>DevRelCon Yokohama is an English language conference bringing the developer relations community back together in person for two days of sharing, learning, and communing.</p>
						<p>
							If you have a talk in mind, <a href="/cfp/">we&#8217;d love to hear from you</a>. We&#8217;re open to talks on any developer relations,
							community, and developer marketing topics. Themes we&#8217;re especially interested in are developer relations for employer branding and developer relations in a recession. The CfP closing date is
							December 31th, 2022.
						</p>
						<p>DevRelCon Yokohama 2023 is brought to you by <a href="https://moongift.co.jp/" target="_blank">MOONGIFT</a> and <a href="https://devrel.tokyo/" target="_blank">DevRel Meetup in Tokyo</a>.</p>
						<p class="p1">Everyone participating in DevRelCon agrees to abide by our <a href="/code-of-conduct/">code of conduct</a>.</p>
					</div>
					<div class="row">
						<a href="/cfp/"><div class="DevRelCon-button mr-md-2 mt-4 mt-md-2 Visible">Submit a talk</div></a>
						<a href="https://ti.to/devrelcon-tokyo/yokohama-2023" target="_blank"><div class="DevRelCon-button mt-4 mt-md-2 Visible">Register now</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="https://moongift.co.jp/">
		<div class="hoopy-banner"><span class="powered-by">Made by</span> <img src="/assets/images/logos/moongift-2.png" alt="Moongift logo" /></div>
	</a>
</div>
