<!-- ================================================

	Header / Logo

==================================================-->
<div class="header header-gradient">
	<div class="container">
		<div class="row" style="justify-content: space-between;">
			<div class="col-md-12 col-lg-5">
				<div class="logo-badge">
					<img src="/assets/images/brand/DevRelCon-Yokohama-2023.png">
				</div>
			</div>
			<div class="col-md-12 col-lg-6" style="align-self: center;">
				<div class="Visible date-wrapper">
					<!-- ================================================
						About
					==================================================-->
					<div class="row">
						<div class="col-md-6 date-left">
							<div class="month lang-en">10th March</div>
							<div class="month lang-ja">3月10日</div>
						</div>
						<div class="col-md-6 date-right">
							<div class="month lang-en">11th March</div>
							<div class="month lang-ja">3月11日</div>
						</div>
					</div>
					<div class="row">
						<h1></h1>
						<p>DevRelCon Yokohama 2023:</p>
						<p class="lang-en">
							DevRelCon Yokohama is an English language conference bringing the developer relations community back together in person for two days of sharing, learning, and communing.
						</p>
						<p class="lang-ja">
							DevRelCon Yokohamaは、DevRelに関係する人たちが集まり、共有と学び、そして交流する2日間の全セッション英語のカンファレンスです。
						</p>
						<p class="lang-en">DevRelCon Yokohama 2023 is brought to you by <a href="https://moongift.co.jp/" target="_blank">MOONGIFT</a> and <a href="https://devrel.tokyo/" target="_blank">DevRel Meetup in Tokyo</a>.</p>
						<p class="lang-ja">
							DevRelCon Yokohama 2023は、<a href="https://moongift.co.jp/" target="_blank">MOONGIFT</a> と <a href="https://devrel.tokyo/" target="_blank">DevRel Meetup in Tokyo</a> によって運営されます。
						</p>
						<p class="p1 lang-en">Everyone participating in DevRelCon agrees to abide by our <a href="/code-of-conduct/">code of conduct</a>.</p>
						<p class="p1 lang-ja">
							DevRelConに参加される方は、登壇者・参加者を問わず<a href="/code-of-conduct/">行動規範</a>を遵守することに同意してください。
						</p>
					</div>
					<div class="row">
						<a href="https://ti.to/devrelcon-tokyo/yokohama-2023" target="_blank">
							<div class="DevRelCon-button mt-4 mt-md-2 Visible lang-en">Register now</div>
							<div class="DevRelCon-button mt-4 mt-md-2 Visible lang-ja">参加登録する</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="https://moongift.co.jp/">
		<div class="hoopy-banner"><span class="powered-by">Made by</span> <img src="/assets/images/logos/moongift-3.png" alt="Moongift logo" /></div>
	</a>
</div>
