<!-- ================================================

	Introduction

==================================================-->

<div class="intro">
	<div class="container">
		<div class="row d-flex align-items-center" style="padding-bottom:50px;">
			<div class="col-lg-4">
				<div class="speaker-image">
					<img src="/assets/images/people/don.jpg">
				</div>
			</div>
			<div class="col-lg-8">
				<h1>Don Goodman Wilson</h1>
				<p class="photo-credit">Director</p>
				<p class="bold photo-credit red-text">Katsudon.tech</p>
		<p class="mt-4"></p>
<p>Trained in both the humanities and in computer science, Don has a passion for bridging cultures and bringing broader context to contemporary issues.</p>
<p>He teaches, codes, writes, talks. He builds trust and relationships, he advocates on behalf of developer communities. He takes the specifications from the customer, and hands them to the developers. He accelerates startups’ developer relations programs.</p>
<p>In his spare time he organizes the DevRel Salon, he enjoys statically typed languages and photography, and he currently lives with his wife and daughter in Lisbon.</p>

			</div>
		</div>
	</div>
</div>
