<!-- ================================================

	Introduction

==================================================-->
{% assign person = include.person %}
<div class="intro">
	<div class="container">
		<div class="row d-flex align-items-center" style="padding-bottom:50px;">
			<div class="col-lg-4">
				<div class="speaker-image">
					{% if page.type == 'speaker' %}
						<img src="{{ person.photo }}">
					{% else %}
						<img src="/assets/images/people/{{ person.id }}.jpg">
					{% endif %}
				</div>
			</div>
			<div class="col-lg-8">
				<h1 class="lang-en">{{ person.name_en }}</h1>
				<h1 class="lang-ja">{{ person.name_ja }}</h1>
				<p class="photo-credit lang-en">{{ person.title_en }}</p>
				<p class="photo-credit lang-ja">{{ person.title_ja }}</p>
				<p class="bold photo-credit red-text lang-en">{{ person.company_en }}</p>
				<p class="bold photo-credit red-text lang-ja">{{ person.company_ja }}</p>
				<p class="mt-4"></p>
				<span class="lang-en">
					{{ person.profile_en | markdownify }}
				</span>
				<span class="lang-ja">
					{{ person.profile_ja | markdownify }}
				</span>
			</div>
		</div>
	</div>
</div>
