<!-- ================================================

  kids room

==================================================-->

<div class="Visible">
    <div id="kidsroom"></div>
    <div class="sponsor-wrapper">
        <div class="title-block">
          <h1 class="bold red-text lang-en">kids Room</h1>
          <h1 class="bold red-text lang-ja">キッズルーム</h1>
          <p></p>
          <p>
            <strong class="lang-en">DevRelCon Yokohama 2023 will offer a kids room only on March 11.</strong>
            <strong class="lang-ja">DevRelCon Yokohama 2023では3月11日にキッズルームを提供します</strong>
          </p>
          <p class="lang-en">Use is free of charge, but advance registration is required. Please click button for details.</p>
          <p class="lang-en">無料でご利用いただけます（要事前登録）詳しくは下記リンク先でご確認ください。</p>
          <div style="margin-top: 50px;">
            <a href="/kidsroom/">
              <div class="DevRelCon-button Visible lang-en">KIDS ROOM MENU</div>
              <div class="DevRelCon-button Visible lang-ja">キッズルームメニュー</div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center"></div>
    </div>
  </div>