<!-- ================================================

	Navigation

==================================================-->
<nav class="navbar navbar-expand-xl navbar-light fixed-top">
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#hoopyNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse w-50" id="hoopyNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item Visible">
				<a class="nav-link" href="https://developerrelations.com/">DeveloperRelations.com</a>
			</li>
		</ul>
		<ul class="navbar-nav flex-fill justify-content-center abs-center-x">
			<li class="nav-item">
				<a class="nav-link scrollnav lang-en" href="#home">Home</a>
				<a class="nav-link scrollnav lang-ja" href="#home">ホーム</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#speakers">Speakers</a>
				<a class="nav-link scrollnav lang-ja" href="#speakers">スピーカー</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#schedule">Schedule</a>
				<a class="nav-link scrollnav lang-ja" href="#schedule">スケジュール</a>
			</li>
			<li class="nav-item">
				<a class="nav-link scrollnav lang-en" href="#sponsors">Sponsors</a>
				<a class="nav-link scrollnav lang-ja" href="#sponsors">スポンサー</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#venue">Venue</a>
				<a class="nav-link scrollnav lang-ja" href="#venue">会場</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#job">Job board</a>
				<a class="nav-link scrollnav lang-ja" href="#job">ジョブボード</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#organizers">Organisers</a>
				<a class="nav-link scrollnav lang-ja" href="#organizers">主催者</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav lang-en" href="#blog">Blog</a>
				<a class="nav-link scrollnav lang-ja" href="#blog">ブログ</a>
			</li>
		</ul>
		<div style="text-align:center;">
			<a href="https://ti.to/devrelcon-tokyo/yokohama-2023" target="_blank">
				<div class="DevRelCon-button mt-3 mt-lg-0 mb-4 mb-lg-0 Visible lang-en">Register now</div>
				<div class="DevRelCon-button mt-3 mt-lg-0 mb-4 mb-lg-0 Visible lang-ja">参加登録する</div>
			</a>
		</div>
	</div>
</nav>
