<!-- ================================================

	Navigation

==================================================-->
<nav class="navbar navbar-expand-xl navbar-light fixed-top">
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#hoopyNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse w-50" id="hoopyNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item Visible">
				<a class="nav-link" href="https://developerrelations.com/">DeveloperRelations.com</a>
			</li>
		</ul>
		<ul class="navbar-nav flex-fill justify-content-center abs-center-x">
			<li class="nav-item">
				<a class="nav-link scrollnav" href="#home">Home</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav" href="#speakers">Speakers</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav" href="#schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link scrollnav" href="#sponsors">Sponsors</a>
			</li>
			<li class="nav-item Visible">
				<a class="nav-link scrollnav" href="#organizers">Organisers</a>
			</li>
		</ul>
		<div style="text-align:center;">
			<a href="https://ti.to/devrelcon-tokyo/yokohama-2023" target="_blank"><div class="DevRelCon-button mt-3 mt-lg-0 mb-4 mb-lg-0 Visible">Register now</div></a>
		</div>
	</div>
</nav>
