{% assign organizer = include.organizer %}
<div class="col-md-6 col-lg-4">
	<div class="organizer-card">
		<a href="/organizers/{{ organizer.id }}">
			<img src="/assets/images/people/{{ organizer.id }}.jpg" />
		</a>
		<div class="speaker-details">
			<h4 class="light red-text lang-en">{{ organizer.name_en }}</h4>
			<h4 class="light red-text lang-ja">{{ organizer.name_ja }}</h4>
			<p class="bold photo-credit lang-en">{{ organizer.company_en }}</p>
			<p class="bold photo-credit lang-ja">{{ organizer.company_ja }}</p>
		</div>
	</div>
</div>
