<div class="Visible">
<!-- ================================================

Schedule

==================================================-->

	<div id="schedule"></div>
	<div class="title-block Grey mt-5">
		<div class="container schedule-container">
			<h1 class="bold red-text">Schedule</h1>
			<p>What’s on and when.</p>
			<a>
				<div class="DevRelCon-secondary-button schedule-button-left Hidden">
					Download PDF
				</div>
			</a>
			<a>
				<div class="DevRelCon-secondary-button schedule-button-right Hidden">
					Add to calendar
				</div>
			</a>
		</div>
	</div>

	<!-- ================================================

Tabs

==================================================-->

	<div class="schedule-wrapper Grey">
		<div class="container">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="unconf-tab" data-toggle="tab" href="#day1" role="tab" aria-controls="unconf" aria-selected="false">
						<h3>Day 1</h3>
						<p class="photo-credit">10th March</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="conf-tab" data-toggle="tab" href="#day2" role="tab" aria-controls="conf" aria-selected="true">
						<h3>Day 2</h3>
						<p class="photo-credit">11th March</p>
					</a>
				</li>
			</ul>

			<div class="tab-content" id="myTabContent">
				<!-- ================================================

		Tab 1

	==================================================-->

				<div id="day1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="unconf">
					{% assign values = site.data.sessions_by_day.10 %}
					{% include sessions.html values=values %}
				</div>
				<!-- ================================================

		Tab 2

	==================================================-->

				<div id="day2" class="tab-pane fade show" role="tabpanel" aria-labelledby="conf">
					{% assign values = site.data.sessions_by_day.11 %}
					{% include sessions.html values=values %}
				</div>
			</div>
		</div>
		<div class="container schedule-container text-center">
			<h1 class="bold red-text lang-en">Workshop</h1>
			<h1 class="bold red-text lang-ja">ワークショップ</h1>
		</div>
		{% assign workshops = site.data.sessions | where: "category_en", "workshop" %}
		{% for workshop in workshops %}
			{% assign sponsor = site.data.sponsors | where: "id", workshop.first_speaker %}
			{% assign sponsor = sponsor[0] %}
			<div class="row">
				<div class="col-8 offset-md-2">
					<div class="row" style="padding-top: 0.5em; padding-bottom: 1em;border-bottom: solid grey 1px;">
						<div class="col-3">
							<img src="{{ sponsor.image }}" alt="{{ sponsor.name_ja }}" class="img-fluid">
						</div>
						<div class="col-9">
							<div class="section-heading" style="text-align: left">
								<h4>
									<i class="far fa-clock"></i>&nbsp;&nbsp;3/{{ workshop.day }} {{ workshop.start_time }}〜{{ workshop.end_time }}
								</h4>
								<h3 class="title lang-en">Title: {{ workshop.title_en }} by {{ sponsor.name_en }}</h3>
								<h3 class="title lang-ja">タイトル： {{ workshop.title_ja }} by {{ sponsor.name_ja }}</h3>
								<p class="lang-en">Abstruct： {{ workshop.description_en }}</p>
								<p class="lang-ja">概要： {{ workshop.description_ja }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
