<script src="/assets/javascripts/jquery/jquery.min.js"></script>
<script src="/assets/javascripts/jquery/jquery-migrate.min.js"></script>
<script>
	const $ = jQuery;
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js?ver=6.1" id="popper-js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js?ver=6.1" id="bootstrap-js-js"></script>
<script src="/assets/javascripts/app.js"></script>
<script src="/assets/javascripts/ncmb.min.js"></script>
<script src="/assets/javascripts/jquery-url.min.js"></script>
