<!-- ================================================

	Speakers

==================================================-->
<div class="Visible">
	<div class="container" style="position: relative;">
		<div id="speakers"></div>
		<div class="title-block White">
			<h1 class="bold red-text">Speakers</h1>
			<p></p>
			<p>The amazing speakers at DevRelCon Yokohama 2023.</p>
		</div>
	</div>

	<div class="speaker-wrapper White">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-6 col-lg-4 col-xl-3 speaker-card-wrapper">
					<a href="/speaker/">
						<div class="speaker-card">
							<img src="/assets/images/people/don.jpg" />
							<div class="speaker-details">
								<h3 class="light mb-4">Don Goodman Wilson</h3>
								<h3 class="talk-title"></h3>
								<p>Toying With People&#8217;s Emotions: A Cognitive Theory of DevRel</p>
								<p class="photo-credit">Director</p>
								<p class="bold photo-credit">Katsudon.tech</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
