<!-- ================================================

  Sponsors

==================================================-->
<div class="Visible">
  <div id="sponsors"></div>
  <div class="sponsor-wrapper">
    <div class="container" style="position:relative;">
      <div class="title-block">
        <h1 class="bold red-text lang-en">Sponsors</h1>
        <h1 class="bold red-text lang-ja">スポンサー</h1>
        <p class="lang-en"><strong>Reach the unique DevRelCon audience by sponsoring DevRelCon Yokohama 2023.</strong></p>
        <p class="lang-ja"><strong>DevRelCon Yokohama 2023にスポンサードして、DevRelConならではのユニークな参加者達にアクセスしましょう</strong></p>
        <p class="lang-en">Join previous sponsors, who have included GitHub, IBM, Google, Microsoft, and many others.</p>
        <p class="lang-ja">これまでにGitHub/IBM/Google/Microsoftなど様々な企業がスポンサードしています</p>
        <div style="margin-top: 50px;">
          <a href="/sponsor/">
            <div class="DevRelCon-button Visible">
              <span class="lang-en">CHECK SPONSOR MENU</span>
              <span class="lang-ja">スポンサーメニューを見る</span>
            </div>
          </a>
        </div>
      </div>
      {% assign sizes = "6,4,3,2" | split: "," %}
      {% for size in sizes %}
        <div class="row justify-content-center">
          {% assign sponsors = site.data.sponsors | where: "size", size %}
          {% for sponsor in sponsors %}
            {% include sponsor.html sponsor=sponsor %}
          {% endfor %}
        </div>
      {% endfor %}
      <div class="title-block">
        <h3 class="bold red-text lang-en">Personal sponsors</h3>
        <h3 class="bold red-text lang-ja">個人スポンサー</h3>
      </div>
      <div class="row">
        {% assign sponsors = site.data.sponsors | where: "type", "personal" %}
        {% for sponsor in sponsors %}
          <div class="col-3 text-center" style="padding-bottom: 1em">
            <span class="lang-en">{{ sponsor.name_en }}</span>
            <span class="lang-ja">{{ sponsor.name_ja }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
