<!-- ================================================

  Sponsors

==================================================-->
<div class="Visible">
  <div id="sponsors"></div>
  <div class="sponsor-wrapper">
    <div class="container" style="position:relative;">
      <div class="title-block">
        <h1 class="bold red-text lang-en">Sponsors</h1>
        <h1 class="bold red-text lang-ja">スポンサー</h1>
        <p class="lang-en"><strong>Reach the unique DevRelCon audience by sponsoring DevRelCon Yokohama 2023.</strong></p>
        <p class="lang-ja"><strong>DevRelCon Yokohama 2023にスポンサードして、DevRelConならではのユニークな参加者達にアクセスしましょう</strong></p>
        <p class="lang-en">Join previous sponsors, who have included GitHub, IBM, Google, Microsoft, and many others.</p>
        <p class="lang-ja">これまでにGitHub/IBM/Google/Microsoftなど様々な企業がスポンサードしています</p>
        <div style="margin-top: 50px;">
          <a href="/sponsor/">
            <div class="DevRelCon-button Visible">
              <span class="lang-en">CHECK SPONSOR MENU</span>
              <span class="lang-ja">スポンサーメニューを見る</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for sponsor in site.data.sponsors %}
          {% if sponsor.type != "personal" %}
            {% include sponsor.html sponsor=sponsor %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="title-block">
        <h3 class="bold red-text lang-en">Personal sponsors</h3>
        <h3 class="bold red-text lang-ja">個人スポンサー</h3>
      </div>
      <div class="row justify-content-center">
        {% for sponsor in site.data.sponsors %}
          {% if sponsor.type == "personal" %}
            <div class="col-3 text-center">
              <span class="lang-en">{{ sponsor.name_en }}</span>
              <span class="lang-ja">{{ sponsor.name_ja }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
