{% assign person = include.person %}
{% if page.type == 'speaker' %}
	{% assign session = site.data.sessions | where: "first_speaker", person.id %}
	{% if !session %}
		{% assign session = site.data.sessions | where: "second_speaker", person.id %}
	{% endif %}
	{% assign session = session[0] %}
	{% if person.interview_url != "" %}
		{% assign video_id = person.interview_url | replace: "https://www.youtube.com/watch?v=", "" %}
		<div class="container">
			<h4 class="lang-en">Interview with {{ person.name_en }}</h4>
			<h4 class="lang-ja">{{ person.name_ja }}さんとのインタビュー</h4>
			<div class="row">
				<div class="col-12">
					<div class="iframe-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
				</div>
			</div>
		</div>
	{% endif %}
	{% if session != nil %}
		<div class="grey-bg" style="padding-top:70px;padding-bottom:70px;">
			<div class="container">
				<div class="col-lg-12">
					<h2 class="red-text mb-4">
						<span class="lang-en">{{ session.title_en }}</span>
						<span class="lang-ja">{{ session.title_ja }}</span>
					</h2>
					<!-- <h3>Talk description</h3> -->
					<div class="lang-en">
						{{ session.description_en | markdownify }}
					</div>
					<div class="lang-ja">
						{{ session.description_ja | markdownify }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}