<!-- ================================================

  Venue

==================================================-->
<div class="Visible">
    <div id="venue"></div>
    <div class="sponsor-wrapper">
  
        <div class="title-block">
          <h1 class="bold red-text lang-en">Venue</h1>
          <h1 class="bold red-text lang-ja">会場</h1>
          <p></p>
            <p><strong>
              <span class="lang-en">
                DevRelCon Yokohama 2023 will be held at Kitasaiwai 2-chome, Nishi-ku, Yokohama, Kanagawa 220-0004, Japan.
              </span>
              <span class="lang-ja">
                DevRelCon Yokohama 2023はビジョンセンター横浜（横浜市西区北幸2丁目）にて開催されます
              </span>
            </strong></p>
            <a class="lang-en" target="_blank" href="https://goo.gl/maps/spEkxtgpY9K4eK1q9">Find your way there (Google Map)</a>
            <a class="lang-ja" target="_blank" href="https://goo.gl/maps/spEkxtgpY9K4eK1q9">Google Mapで確認する</a>
            <div class="map-wrap">
            <div class="map">
                <!-- Google Mapの共有タグを埋め込む -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.4973789499136!2d139.6147575771558!3d35.46723587265711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c0e577cc24d%3A0x15fcc93bb7b78c32!2sVision%20center%20yokohama!5e0!3m2!1sen!2sjp!4v1670419969427!5m2!1sen!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        <div class="row justify-content-center"></div>
    </div>
</div>

