<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="home"></div>
		{% include navigation.html %}
		{% include header.html %}
		{% include speakers.html %}
		{% comment %}
		{% include schedules.html %}
		{% endcomment %}
		{% include sponsors.html %}
		{% include jobboard.html %}
		{% include blog.html %}
		{% include venue.html %}
		{% include kidsroom.html %}
		{% include community.html %}
		{% include organizers.html %}
		{% include footer.html %}
		{% include script.html %}
	</body>
</html>