<!DOCTYPE html>
<html lang="en">
	{% assign person = site.data.speakers | where: "id", page.id %}
	{% if person[0] == nil %}
		{% assign person = site.data.organizers | where: "id", page.id %}
	{% endif %}
	{% assign person = person[0] %}
	{% include head.html person=person %}
	<body>
		{% include navigation2.html %}
		{% include intro.html person=person %}
		{% include talk.html person=person %}
		<div class="speaker-wrapper mb-5">
			<div class="container">
				<div class="row d-flex justify-content-center">
				</div>
			</div>
		</div>
		{% include footer.html %}
		{% include script.html %}
	</body>
</html>